.pwtsr-radar-icon {
  background-image: url('../svg/radar.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-color: transparent;
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 16px;
}

.pwtsr-radar-icon::before,
.fa.pwtsr-radar-icon::before {
  content: '' !important;
}

.ff_form_wrap .pwtsr-radar-icon,
.ff_form_editor .pwtsr-radar-icon,
.wpforms-add-fields-button .pwtsr-radar-icon {
  margin-right: 6px;
}

/* Forminator */

.field_type_list li.frmbutton.frm_tpresswell_transceiver .frmsvg {
  height: 18px;
  width: 18px;
  
  margin-left: 3px;
  margin-right: 3px;
}

/* WPForms */

.wpforms-add-fields-button .pwtsr-radar-icon {
  background-image: url('../svg/radar-white.svg');
}